.faq {
  border-bottom: 3px solid var(--primary);
  width: 80%;
}

.questionRow {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.questionRow > h2 {
  font-size: 20px;
}

.questionRow > p {
  font-size: 50px;
  z-index: 10;
  cursor: pointer;
}

.descriptionRowHidden {
  background-color: aqua;
}
