.bandImage {
  width: 470px;
  height: auto;
}

.headerH1 {
  margin-top: 50px;
  margin-bottom: -260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.the {
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 30px;
  line-height: 0px;
}

.wildfire {
  line-height: 0px;
  font-weight: bold;
  font-size: 160px;
  letter-spacing: 60px;
  transform: translateY(-100px);
}

.headerTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  background-color: var(--highlight);
  width: 100vw;
  padding: 20px;
}

.about > p,
.packages > p {
  padding: 10px 100px;
}

.packages {
  width: 100vw;
  padding: 20px;
  color: white;
}

.cards {
  display: flex;
  justify-content: space-between;
  padding: 0 20%;
  gap: 30px;
}

.packageCard {
  height: 400px;
  width: 300px;
  border: 5px solid white;
  padding: 10px 20px;
}

.packageMessage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quotes {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  padding: 0 100px;
}

.quote {
  width: 350px;
}

.contact,
.contactInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}
